theme = Misku Dark
font-family = Cascadia Mono
font-size = 12
opacity = 1
mica = false
default-profile = PowerShell
working-directory = %USERPROFILE%
scrollback-lines = 9001
cursor-style = bar
keybind = ctrl+t=new_tab
keybind = ctrl+shift+t=new_session
keybind = ctrl+b=toggle_sidebar
keybind = ctrl+shift+w=Terminal.ClosePane
keybind = ctrl+shift+r=reload_config
keybind = ctrl+shift+d=split_right
keybind = ctrl+shift+e=split_down
keybind = f11=toggle_fullscreen
